html, body {
    font-family: 'Inter', sans-serif;
    background-color: #121212; 
    color: #eee; 
    margin: 0;
}

.container {
    margin: 45px 40px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: #1f1f1f;
    padding: 10px 20px;
    box-shadow: 0 2px 10px rgba(249, 168, 37, 0.4);
    color: #f9a825;
    height: 80px;
    text-transform: uppercase;
}

.logo-container {
    background: radial-gradient(circle at center, #f9a825, transparent 70%);
    padding: 10px;
    border-radius: 50%;
    margin-right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0 0 6px #f9a825);
}

.logo-container img {
    width: 100px;
    height: auto;
}

header > h1 {
    font-size: 1.1rem;
    font-weight: 700;
    font-family: 'Oswald', sans-serif; 
    text-shadow: 1px 1px 2px #000;
    margin: 0;
}

article.journal-entry {
    display: flex;
    margin-bottom: 36px;
}

article.journal-entry .marker {
    width: 7px;
    margin-right: 4px;
}

article.journal-entry .main-image-container {
    width: 125px;
    height: 168px;
    overflow: hidden;
    border-radius: 5px;
    flex-shrink: 0;
    margin-right: 19px;

    border: 3px solid #f9a825; 
    box-shadow: 0 0 8px rgba(249, 168, 37, 0.4);
}


article.journal-entry .main-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.info-container span.country {
    text-transform: uppercase;
    font-size: 0.7rem;
    margin-right: 12px;
}

.info-container a {
    color: #2B283A;
    font-size: 0.7rem;
}

.info-container a:visited {
    color: #918E9B;
}

.info-container h2.entry-title {
    margin-top: 7px;
    margin-bottom: 17px;
    color: #f9a825;
}

.info-container p.trip-dates {
    font-weight: bold;
}

.info-container p.entry-text {
    line-height: 1.5;
    font-size: 0.8rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.map-link {
    color: #b9b3a8 !important;
    text-decoration: underline;
    font-weight: 600;
    transition: color 0.2s ease;
}

.map-link:hover {
    color: #ffd54f !important;
}